/* overall */
.th23-upload-options .success,
table.media .row-actions .success,
#th23-upload-restore-select .success {
  font-weight: bold;
  color: #009100;
}
.th23-upload-options .error,
table.media .row-actions .error,
#th23-upload-restore-select .error {
  font-weight: bold;
  color: #a00;
}
.th23-upload-options .blinking,
table.media .row-actions .blinking,
#th23-upload-restore-select .blinking {
  animation: th23-upload-blinking 1.2s infinite;
}
.th23-upload-options .blinking.temp,
table.media .row-actions .blinking.temp,
#th23-upload-restore-select .blinking.temp {
  animation-iteration-count: 3;
}

@keyframes th23-upload-blinking {
  0% {
    color: inherit;
  }
  49% {
    color: inherit;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: inherit;
  }
}
/* media gallery: columns */
.fixed .column-filesize {
  width: 10%;
}
.fixed .column-attached_to {
  width: 25%;
}

td.column-filesize p,
td.column-attached_to p {
  margin: 6px 0 0.2em;
}

/* edit attachment page: [watermarks_restore] */
.compat-field-th23_upload_restore th, .compat-field-th23_upload_restore td {
  display: block;
}

#th23-upload-restore-select {
  position: relative;
  margin: 0.5em 0;
}
#th23-upload-restore-select img {
  max-width: 300px;
  max-height: 300px;
}

#th23-upload-restore-do {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

/* plugin settings page: [watermarks_position] */
.th23-upload-options .option-watermarks_position fieldset > div {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
}
.th23-upload-options .option-watermarks_position fieldset > div > div {
  margin: 0 1px 1px 0;
  background-color: lightgray;
  padding: 4px 8px;
  text-align: center;
}

/* plugin settings page: [watermarks_image] */
#th23-upload-watermark-image {
  cursor: pointer;
}
#th23-upload-watermark-image img {
  max-width: 300px;
  max-height: 100px;
  height: auto;
}

#th23-upload-watermark-placeholder {
  width: 300px;
  border: 2px dashed #ccc;
  background-color: #eee;
  padding: 4em 1em;
  text-align: center;
}

#th23-upload-watermark-selection {
  margin-top: 10px;
  max-width: 300px;
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  background: #fff;
  padding: 1em;
}

.th23-upload-watermark-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 150px;
}
.th23-upload-watermark-item:not(:first-of-type) {
  border-top: 1px dashed gray;
}
.th23-upload-watermark-item:last-of-type {
  margin-bottom: 0;
}
.th23-upload-watermark-item img {
  max-width: 200px;
  max-height: 100px;
  height: auto;
  cursor: pointer;
}
.th23-upload-watermark-item > div > div {
  text-align: center;
  font-size: 13px;
}
.th23-upload-watermark-item > div > div.caption {
  font-weight: bold;
  font-style: italic;
}
.th23-upload-watermark-item > div > div.delete {
  cursor: pointer;
}
.th23-upload-watermark-item > div > div.delete:hover {
  color: red;
}

#th23-upload-watermark-file {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

/* plugin settings page: [watermarks_mass_actions] */
#th23-upload-mass-buttons .button-secondary,
#th23-upload-mass-progress .button-secondary {
  margin-bottom: 4px;
}
#th23-upload-mass-buttons .button-secondary.hidden,
#th23-upload-mass-progress .button-secondary.hidden {
  display: none;
}

#th23-upload-mass-bar {
  width: 100%;
  background-color: lightgrey;
}
#th23-upload-mass-bar > div {
  width: 1%;
  height: 20px;
  background-color: green;
}

#th23-upload-mass-last {
  max-height: 200px;
  overflow-y: scroll;
  background: white;
}
#th23-upload-mass-last > div {
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed lightgray;
}
